# User-specific files
*.suo
*.user

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# node
node_modules/

# image repo
/src/repository
!/src/repository/expects

# JetBrains
.idea/

# mac
.DS_Store
